apis/kiwi-server/dist/
apis/kiwi-server/node_modules/
apis/kiwi-server/.env
uis/angular9/node_modules/
uis/angular9/dist/

apis/.netcore/Viking.Sdk/obj/
apis/.netcore/Viking.Api/bin/
apis/.netcore/Viking.Api/obj/
apis/.netcore/Viking.Api/obj/
apis/.netcore/Viking.Api/obj/
apis/.netcore/Viking.DataAccess/bin/
apis/.netcore/Viking.DataAccess/obj/
apis/.netcore/Viking.Sdk/bin/
apis/.netcore/Viking.Api/ErrorLog/

apis/php/Seed/vendor/*

uis/xamarin/Seed/Seed.Android/bin/
uis/xamarin/Seed/Seed.Android/obj/

uis/xamarin/Seed/Seed.iOS/bin/
uis/xamarin/Seed/Seed.iOS/obj/

uis/xamarin/Seed/Seed/bin/
uis/xamarin/Seed/Seed/obj/
